@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* defining default theme constrains */
    --color-page-bg: oklch(98.2% 0.018 155.826); /* green-50 background */
    --color-primary-text: oklch(13% 0.028 261.692);/* black*/
    
            /* for search  */
    --color-card-border: oklch(92.5% 0.084 155.995); /* green 200*/
    --color-card-hover: oklch(96.2% 0.044 156.743); /*green 100*/
    --color-card-background: oklch(97.7% 0.013 236.62); /*sky 50*/
    --color-card-text: oklch(13% 0.028 261.692);

 /* been page */
    --color-strokecolor_line:oklch(79.2% 0.209 151.711);
    --color-been_card_background:rgba(255, 200, 100, 0.08);
    --color-been_border_card:rgba(255,165,0,0.3);
    --color-been_text_card: black;

    --font-pixelify_bold: "Pixelify_Sans",san-serif;
    --font-doto_semibold : "Doto", san-serif;
    --font-bitcountGridDouble_medium: "Bitcount_Grid_Double", san-serif;
    --font-schoolbell: "Schoolbell",san-serif;


}


@layer base{
    .dark{
        --color-page-bg: oklch(21% 0.006 285.885);
        --color-primary-text: oklch(98.5% 0 0); /* white*/

            /* for search  */
        --color-card-border: oklch(92% 0.004 286.32); /* zinc 200*/
        --color-card-hover: oklch(86.285% 0.08163 118.683); /*green 100*/
        --color-card-background: oklab(100% 0 -0.00011);
        --color-card-text: oklch(100% 0.00011 271.152);


        --color-strokecolor_line:oklch(72% 0.18 66.29);

        --color-been_card_background:rgba(51, 51, 51, 0.08);
        --color-been_border_card:1px solid rgba(255, 165, 0, 0.2);
        --color-been_text_card: oklch(95.3% 0.051 180.801);
    }
  
}

@layer components{
    .glow{
        @apply shadow-[0_0_100px_5px_rgba(161,240,194,0.8)] scale-105;
    }
    .dark .dark\:glow{
        @apply shadow-[0_0_20px_rgba(251,191,36,0.8)] scale-105;
    }
    
    .glowXl{
        backdrop-filter: blur(12px);
        @apply shadow-[0_0_200px_5px_rgba(57,57,57,0.8)];
       
    }

    .dark .glowXl{
         backdrop-filter: blur(12px);
        @apply shadow-[0_0_30px_rgba(81,75,78,0.8)];
        
    }
}

@view-transition {
  navigation: auto;
}

@font-face {
    font-family: 'Pixelify_Sans';
    src: url(/assets/fonts/Pixelify_Sans/static/PixelifySans-Bold.ttf)format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Doto";
    src: url(/assets/fonts/Doto/static/Doto-SemiBold.ttf)format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "Bitcount_Grid_Double";
    src: url(public\assets\fonts\Bitcount_Grid_Double\static\BitcountGridDouble-Medium.ttf)format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Schoolbell";
    src: url(public\assets\fonts\Schoolbell\Schoolbell-Regular.ttf)format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.project-drawing{
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    cursor: pointer;
}


.been_svg_item path {
  visibility: hidden;
}

.hero_text{
    visibility: hidden;
}

.second_text{
    visibility: hidden;
}
@keyframes blink {
    0%, 20%  {
        opacity: 0;
    }
    40%, 60% ,80%, 100%{
        opacity: 1;
    }
}

.flicker-dot {
    animation: blink 1.5s infinite ease-in-out;
    filter: blur(5px); 
}


@keyframes scaleAndBlur {
    0%, 10%{
        opacity: 0;
    
        filter: blur(0px);
    }
    20%,30%,40%,50%{
        opacity: 1;
        filter: blur(10px);
    }
    60%, 80%,90%{
        filter: blur(15px);
        opacity: 1;
    }
    100%{
        filter: blur(20px);
        opacity: 0;
        fill: transparent;
    }
}



.attentionDot{
    transform-origin: center;
    animation: none 1s infinite ease-in-out;
    will-change: transform , opacity, filter;
}

.word3{
    color: oklch(76.5% 0.177 163.223);
    font-style: italic;
    padding-left: 4px;
    padding-right: 8px;

    :where(.dark) &{
        color: oklch(76.9% 0.188 70.08);
    }
}